@font-face {
  font-family: 'iconfont';  /* project id 87252 */
  src: url('//at.alicdn.com/t/font_101g5tc06sjj1yvi.eot');
  src: url('//at.alicdn.com/t/font_101g5tc06sjj1yvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_101g5tc06sjj1yvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_101g5tc06sjj1yvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_101g5tc06sjj1yvi.svg#iconfont') format('svg');
}
